variable "project" {
	description = "The project to host the cluster"
	default = ""
}

variable "region" {
	description = "the region to create the project in"
	default = ""
}

variable "zone" {
	description = "the zone to create the project in"
	default = ""
}

variable "cluster_name" {
  description = "The name of the cluster"
	default = ""
}

variable "cluster_location" {
	description = "The zone to deploy the cluster to"
	default = ""
}

variable "owner" {
  description = "The owner of the cluster"
	default = ""
}

variable "maintainers" {
  description = "The maintainers of the project"
	default = ""
}

variable "node_pool_name" {
	description = "The name of the node pool to use for the created cluster"
	default = ""
}

variable "auto_scale_min_nodes" {
	description = "The minimum nodes in the node pool"
	default = 2
}

variable "auto_scale_max_nodes" {
	description = "The maximum nodes in the node pool"
	default = 6
}

variable "pool_machine_type" {
	description = "The type of machine to use for the cluster nodes"
  default     = ""
}








